<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <%# <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">%>
	<title>Voting App Service FCC</title>
</head>
<body>
 <div class='ui fixed inverted menu'>
 	<div class='ui container'>
 		<div class='header item'><i class='idea icon'>Vote</i></div>
 		<a href="/posts" class='item'>Home</a>
 		<a href="/home" class='item'>Add New Poll</a>
 	</div>
 </div>
