<% include ./partials/header %>
<br><br><br><br>
<div class='ui main text container'>
	<div class="ui huge header">
		<h2>Voting App-FCC</h2>
		<p>Used for adding polls</p>
	</div>
	<div class='ui top attached segment'>
		<div class='ui divided items'>
			   <div class='item'>
			   		<div class='content'>
			   			<p class='header'><%= foundOne.question %></p>
			   		</div><hr>
			   </div>
		</div>
    <% foundOne.choice.forEach(function(choice){ %>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="choice[]">
          <label><%=choice%></label>
        </div>
      </div>
    <% }); %>

	</div>
</div>



<% include ./partials/footer %>
